        #option-1 {color: #800080;}
        #option-2 {color: #800080;}
        #option-3 {color: #FF0000;}
        #option-4 {color: #FFA500;}
        #option-5 {color: #FFFF00;}
        #option-6 {color: #008000;}
        #option-7 {color: #00FFFF;}
        #option-8 {color: #0000FF;}
        #option-9 {color: #4B0082;}
        #option-10 {color: #EE82EE;}
        #option-11 {color: #FF0000;}
        #option-12 {color: #FFA500;}
        #option-13 {color: #FFFF00;}
        #option-14 {color: #008000;}
        #option-15 {color: #00FFFF;}
        #option-16 {color: #0000FF;}
        #option-17 {color: #4B0082;}
        #option-18 {color: #EE82EE;}
        #option-19 {color: #FF0000;}
        #option-20 {color: #FFA500;}
        #option-21 {color: #FFFF00;}
        #option-22 {color: #008000;}
        #option-23 {color: #00FFFF;}
        #option-24 {color: #0000FF;}
        #option-25 {color: #4B0082;}
        #option-26 {color: #EE82EE;}
        #option-27 {color: #FF0000;}
        #option-28 {color: #FFA500;}
        #option-29 {color: #FFFF00;}
        #option-30 {color: #008000;}
        #option-31 {color: #00FFFF;}
        #option-32 {color: #0000FF;}
        #option-33 {color: #4B0082;}
        #option-34 {color: #EE82EE;}
        #option-35 {color: #FF0000;}
        #option-36 {color: #FFA500;}
        #option-37 {color: #FFFF00;}
        #option-38 {color: #008000;}
        #option-39 {color: #00FFFF;}
        #option-40 {color: #FF0000;}
        #option-41 {color: #FFA500;}
        #option-42 {color: #FFFF00;}
        #option-43 {color: #008000;}
        #option-44 {color: #00FFFF;}
        #option-45 {color: #0000FF;}
        #option-46 {color: #4B0082;}
        #option-47 {color: #EE82EE;}
        #option-48 {color: #FF0000;}
        #option-49 {color: #FFA500;}
        #option-50 {color: #FF0000;}
        #option-51 {color: #FFA500;}
        #option-52 {color: #FFFF00;}
        #option-53 {color: #008000;}
        #option-54 {color: #00FFFF;}
        #option-55 {color: #0000FF;}
        #option-56 {color: #4B0082;}
        #option-57 {color: #EE82EE;}
        #option-58 {color: #FF0000;}
        #option-59 {color: #FFA500;}
        #option-60 {color: #FF0000;}
        #option-61 {color: #FFA500;}
        #option-62 {color: #FFFF00;}
        #option-63 {color: #008000;}
        #option-64 {color: #00FFFF;}
        #option-65 {color: #0000FF;}
        #option-66 {color: #4B0082;}
        #option-67 {color: #EE82EE;}
        #option-68 {color: #FF0000;}
        #option-69 {color: #FFA500;}
        #option-70 {color: #FF0000;}
        #option-71 {color: #FFA500;}
        #option-72 {color: #FFFF00;}
        #option-73 {color: #008000;}
        #option-74 {color: #00FFFF;}
        #option-75 {color: #0000FF;}
        #option-76 {color: #4B0082;}
        #option-77 {color: #EE82EE;}
        #option-78 {color: #FF0000;}
        #option-79 {color: #FFA500;}
        #option-80 {color: #FF0000;}
        #option-81 {color: #FFA500;}
        #option-82 {color: #FFFF00;}
        #option-83 {color: #008000;}
        #option-84 {color: #00FFFF;}
        #option-85 {color: #0000FF;}
