        #option-1 {color: purple;}
        #option-2 {color: purple;}
        #option-3 {color: Red;}
        #option-4 {color: orange;}
        #option-5 {color: yellow;}
        #option-6 {color: green;}
        #option-7 {color: yellow;}
        #option-8 {color: blue;}
        #option-9 {color: indigo;}
        #option-10 {color: violet;}
        #option-11 {color: Red;}
        #option-12 {color: orange;}
        #option-13 {color: yellow;}
        #option-14 {color: green;}
        #option-15 {color: yellow;}
        #option-16 {color: blue;}
        #option-17 {color: indigo;}
        #option-18 {color: violet;}
        #option-19 {color: Red;}
        #option-20 {color: orange;}
        #option-21 {color: yellow;}
        #option-22 {color: green;}
        #option-23 {color: yellow;}
        #option-24 {color: blue;}
        #option-25 {color: indigo;}
        #option-26 {color: violet;}
        #option-27 {color: Red;}
        #option-28 {color: orange;}
        #option-29 {color: yellow;}
        #option-30 {color: green;}
        #option-31 {color: yellow;}
        #option-32 {color: blue;}
        #option-33 {color: indigo;}
        #option-34 {color: violet;}
        #option-35 {color: Red;}
        #option-36 {color: orange;}
        #option-37 {color: yellow;}
        #option-38 {color: green;}
        #option-39 {color: yellow;}
        #option-40 {color: Red;}
        #option-41 {color: orange;}
        #option-42 {color: yellow;}
        #option-43 {color: green;}
        #option-44 {color: yellow;}
        #option-45 {color: blue;}
        #option-46 {color: indigo;}
        #option-47 {color: violet;}
        #option-48 {color: Red;}
        #option-49 {color: orange;}
